{% extends 'base.html.twig' %}

{% block title %}Friends List{% endblock %}

{% block body %}
    {% for friend in friends %}
        <li>{{ friend.username }}</li>
    {% else %}
       <div class="alert alert-warning col-md-4"> <strong>Vous n'avez aucun ami</strong>. Cliquer <a href="/friends/add">ici</a> pour ajouter un ami.
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
       </div>
    {% endfor %}
{% endblock %}
