{% extends 'base.html.twig' %}

{% block title %}Friends List{% endblock %}

{% block body %}
    <a href="add" class="btn btn-primary">Request a friend</a>
    <div class="row">
        {% for friendship in friendships %}
            {% if friendship.status != 2 %}
                <div class="card m-4" style="width: 18rem;">
                    <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/149/149071.png" alt="Card image cap" width="200px">
                    <div class="card-body">
                        <h5 class="card-title">{{ friendship.friend.pseudo }}</h5>
                        <p class="card-text">
                            {% if friendship.status == 0 %}
                                Request pending
                            {% elseif friendship.status == 1 %}
                                You are friend with {{ friendship.friend.pseudo }}
                            {% endif %}
                        </p>
                        {% if friendship.status == 0 %}
                            <a href="#" class="btn btn-warning">Cancel request</a>
                        {% elseif friendship.status == 1 %}
                            <a href="#" class="btn btn-primary">Invite to an account</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-warning col-md-4"> <strong>Vous n'avez aucun ami</strong>. Cliquer <a href="/friends/add">ici</a> pour ajouter un ami.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
