{% extends 'base.html.twig' %}

{% block title %}Default{% endblock %}

{% block body %}

    Index of \DefaultController
    {% if is_granted('ROLE_USER') %}
        <div class="alert alert-success">Logged as {{ app.user.email }}</div>
    {% endif %}

{% endblock %}