@import url(http://fonts.googleapis.com/css?family=Oswald:800,800,300);

body {
    font-family: 'Oswald', sans-serif !important
}
.navbar {
    position: fixed;
}
.main-content {
    margin-top: 100px;
}
