{%  extends 'base.html.twig' %}

{% block title %}New article{% endblock %}

{% block body %}

    <div class="input-field col s12">
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn">Edit</button>
        {{ form_end(form) }}
    </div>

{% endblock %}